##
NET clk    LOC = H28 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS25";
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
##




########LED Pin define#####################
NET led LOC = AN18 | IOSTANDARD = "LVCMOS25";                                           ## LED3
NET lcd<1>                                  LOC = AN17 | IOSTANDARD = "LVCMOS25";       ## LED4
NET lcd<2>                                  LOC = AP17 | IOSTANDARD = "LVCMOS25";       ## LED5
NET lcd<3>                                  LOC = AP16 | IOSTANDARD = "LVCMOS25";       ## LED6
NET lcd<4>                                  LOC = AN15 | IOSTANDARD = "LVCMOS25";       ## LED7
NET lcd<5>                                  LOC = AP15 | IOSTANDARD = "LVCMOS25";       ## LED8