LOCATE COMP "clk"         SITE "P6";
LOCATE COMP "rst"         SITE "M13";
LOCATE COMP "led"         SITE "P11"; // LED

LOCATE COMP "lcd[0]"      SITE "F3"; // P1 - R0 - RS
LOCATE COMP "lcd[1]"      SITE "F1"; // P1 - G0 - EN
LOCATE COMP "lcd[2]"      SITE "G3"; // P1 - B0 - D4
LOCATE COMP "lcd[3]"      SITE "G2"; // P1 - R1 - D5
LOCATE COMP "lcd[4]"      SITE "H3"; // P1 - G1 - D6
LOCATE COMP "lcd[5]"      SITE "H5"; // P1 - B1 - D7


// input         clk,
// input         reset,
// inout [31:0]  IOPortA,
// inout [31:0]  IOPortB
